#page {
    display: grid;
    grid-template-rows: 5% 90% 5%;
    width: 100%;
    height: 100%;
}
.header {
    display: grid;
    flex-direction: repeat(2, 1fr);
    grid-template-columns: 50% 50%;
    width: 100%;
    justify-content:flex-start;

}
.header .left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.header .left p {
    padding: 0 10px 10px 10px;
    color: #222222;
}
.header .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header .right #signin {
    background-color: rgb(85, 85, 255);
    color: #EEEEEE;
    height: 66%;
    width: 20%;
    margin-top: 5px;
    padding: 10px 10px 10px 10px;
    border-radius: 5%;
}
.header .right p {
    padding: 0 10px 10px 10px;
    color: #222222;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 175px;
    user-select: none;
}

.main .name #g {
    font-size: 75px;
    color: blue;
}

.main .name #o {
    font-size: 75px;
    color: red;
}

.main .name #o2 {
    font-size: 75px;
    color: yellow;
}

.main .name #g2 {
    font-size: 75px;
    color: blue;
}

.main .name #l {
    font-size: 75px;
    color: green;
}

.main .name #e {
    font-size: 75px;
    color: red;
}

.main #search-input {
    width: 50%;
    height: 30px;
    border-radius: 20%;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.footer .left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.footer .middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}