#page {
    display: grid;
    grid-template-rows: 10% 80% 10%;
}
.header {
    display: flex;
    flex-direction: row;
}

.main {
    display: flex;
    flex-direction: row;
}

.footer {
    display: flex;
    flex-direction: row;
}