* {
    margin: 0;
    padding: 0;
}
#page {
    display: grid;
    grid-template-rows: 5% 90% 5%;
    width: 100%;
    height: 100%;
}
.header {
    display: grid;
    flex-direction: repeat(2, 1fr);
    grid-template-columns: 50% 50%;
    width: 100%;
    justify-content:flex-start;

}
.header .left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.header .left p {
    padding: 0 10px 10px 10px;
    color: #222222;
}
.header .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header .right #signin {
    border-radius: 5px;
    border-color: none;
    border-style: unset;
    background-color: rgb(85, 85, 255);
    color: #EEEEEE;
    height: 66%;
    width: 10vw;
    max-width: 90px;
    margin: 5px 10px 0 5px;
    padding: 6px 10px 10px 10px;    
}
.header .right p {
    padding: 0 10px 10px 10px;
    color: #222222;
}

.header p{
    margin: 10px 0 0 10px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100vw;
}

.main .name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 110px;
    user-select: none;
    font-family: sans-serif;
    font-weight: 600;
}

.main .name #g {
    font-size: 85px;
    color: rgb(87, 87, 255);
}

.main .name #o {
    font-size: 85px;
    color: rgb(252, 78, 78);
}

.main .name #o2 {
    font-size: 85px;
    color: rgb(255, 218, 95);
}

.main .name #g2 {
    font-size: 85px;
    color: rgb(87, 87, 255);
}

.main .name #l {
    font-size: 85px;
    color: rgb(60, 133, 60);
}

.main .name #e {
    font-size: 85px;
    color: rgb(252, 78, 78);
}

.main #search-input {
    width: 66%;
    max-width: 700px;
    height: 40px;
    font-size: 20px;
    padding: 0 10px 0 10px;
    border-radius: 25vw;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    user-select: none;
    flex-grow: 50%;
}

.main .buttons {
    display: grid;
    grid-template-columns: 35% 35%;
    height: 10vh;
    width: 50%;
    gap: 5%;
    margin-top: 25px;
    justify-content: center;
}

.main .buttons #search-button {
    border-radius: 5px;
    border-color: none;
    border-style: unset;
    color: rgb(59, 59, 59);
}

.main .buttons #lucky-button {
    border-radius: 5px;
    border-color: none;
    border-style: unset;
    color: rgb(59, 59, 59);
}

.main #covid {
    display: flex;
    width: 37.5vw;
    justify-content: center;
    margin-right: auto;
    align-items: center;
    text-align: center;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(236, 236, 236);
    justify-content: center;
    color: rgb(73, 73, 73);
}
.footer .left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 10px;
    min-width: 300px;
}

.footer .left p {
    padding: 15px 10px 10px 0;    
}

.footer .right p {
    padding: 15px 10px 10px 0;
}

.footer .middle p {
    padding: 15px 10px 10px 0;
}


.footer .middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
}